body{
    background: #3c3f41;
}

header{
    background: #2f3234;
    color: whitesmoke;

    position: fixed;
    top:0;
    left: 0;

    width: 100%;
    height: 80px;

    text-align: center;
    z-index: 10;
}

header h2{
    background: #2f3234;
    color: whitesmoke;

    position: relative;
    left: 0;

    top: -1px;
    width: 100%;
    height: 60px;

    text-align: center;
    z-index: inherit;
}

footer{
    background: #2f3234;
    color: whitesmoke;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 35px;
    z-index: 10;
}

footer h5{
    text-align: right;
    margin: 10px 10px;
}

.menuContainer{
    background: #a1a1a1;
    font-size: x-large;
    color: #2f3234;

    position: relative;
    top: 135px;
    height: 35px;

    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: left;

}

.menuContainer h2{
    margin-top: 0;
}

.mainContainer{
    background: #3c3f41;

    position: relative;
    top: 150px;

    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

/*login*/
#loginForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    /*margin-left: 10px;*/
    margin-right: auto;
    text-align: left;
}

#loginForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#loginForm input{
    height: 25px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#loginForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#loginForm a{
    font-size: x-large;
}

/*register*/
#registerForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    margin-left: 10px;
    margin-right: auto;
    text-align: left;
}

#registerForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
}

#registerForm input{
    height: 25px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}

#registerForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#registerForm a{
    font-size: x-large;
}

#registerForm h3{
    color: white;
}


/*table*/

table {
    border-collapse: collapse;
    width: 60%;
}


/*help*/
#helpForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    /*margin-left: 10px;*/
    margin-right: auto;
    text-align: left;
}

#helpForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#helpForm input{
    height: 25px;
    width: 400px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
    /*margin-left: 10px;*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#helpForm input:focus{
    width: 800px;
}


#helpForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#helpForm h3{
    font-size: x-large;
    color: whitesmoke;
}

/*#messageForm input{*/
    /*height: 200px;*/
    /*width: 400px;*/
    /*font-size: x-large;*/
    /*!*margin-top: 10px;*!*/
    /*!*margin-bottom: 5px;*!*/
    /*!*margin-left: 10px;*!*/
/*}*/


#helpForm textarea {
    width: 600px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: x-large;
    resize: none;
}

/*.headerButtonsDiv{*/
/*float: right;*/

/*position: relative;*/
/*right: 20px;*/
/*}*/

/*.headerButtonsDiv button{*/
/*width: 100px;*/
/*height: 25px;*/

/*background: lightskyblue;*/
/*}*/

/*!* home.html*!*/
/*#menuDiv{*/
    /*text-align: center;*/
/*}*/

/*#menuDiv button{*/
    /*width: 200px;*/
    /*height: 30px;*/
    /*background: lightskyblue;*/

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/

/*}*/

/*#servicesDiv{*/
    /*text-align: center;*/
    /*display: none;*/
/*}*/

/*#servicesDiv select{*/
    /*width: 200px;*/
    /*height: 30px;*/

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#servicesDiv input{*/

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/

    /*width: 200px;*/
    /*max-width: 200px;*/
    /*height: 25px;*/
/*}*/

/*#servicesDiv label{*/
    /*font-size: large;*/
    /*font-style: italic;*/
/*}*/

/*#servicesDiv button{*/
    /*width: 100px;*/
    /*height: 30px;*/
    /*background: lightgreen;*/
/*}*/

/*#servicesDiv button.denied{*/
    /*background: #ff6b63;*/
/*}*/

/*textarea{*/
    /*min-width: 200px;*/
    /*width:200px;*/
    /*max-width: 200px;*/

    /*min-height: 50px;*/
    /*height: 50px;*/
    /*max-height: 50px;*/
/*}*/
/*!* history.html*!*/
/*.lpCell{*/
    /*width: 50px;*/
/*}*/

/*.idCell{*/
    /*width: 50px;*/
/*}*/

/*.nameCell{*/
    /*width: 100px;*/
/*}*/

/*.descriptionCell{*/
    /*width: 200px;*/
/*}*/

/*.commentCell{*/
    /*width: 200px;*/
/*}*/

/*.priceCell{*/
    /*width: 100px;*/
/*}*/

/*.dateCell{*/
    /*width: 100px;*/
/*}*/

/*table{*/
    /*position: relative;*/
    /*top: 20px;*/

    /*text-align: center;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*width: 800px;*/
/*}*/

/*table td{*/
    /*border-bottom-style: groove;*/
    /*border-bottom-width: 2px;*/
    /*border-bottom-color: black;*/
/*}*/

/*#historyInfo{*/
    /*display: block;*/
    /*text-align: center;*/
    /*font-size: large;*/
/*}*/

/*!* register.html *!*/
/*#registerForm{*/
    /*position: relative;*/
    /*top: 20px;*/

    /*width: auto;*/
    /*height: auto;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*text-align: center;*/
/*}*/

/*#registerForm label{*/
    /*font-size: large;*/
    /*font-style: italic;*/

    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*#registerForm input{*/
    /*height: 25px;*/
    /*width: 200px;*/

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#registerForm button{*/
    /*background: lightgreen;*/

    /*height: 30px;*/
    /*width: 100px;*/

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#registerForm button.denied{*/
    /*background: #ff6b63;*/
/*}*/

/*#infoLabel{*/
    /*display: block;*/
    /*text-align: center;*/

    /*position: relative;*/
    /*top: 30px;*/

    /*font-style: italic;*/
    /*font-size: large;*/
/*}*/
